
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: 'Montserrat', sans-serif;
}



.social-icons{
  @apply hover:text-gray-700; /* ease-in duration-150 hover:scale-110 */
}

html {
  scroll-behavior: smooth;
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
 */

.parent-gradient {
  height: 100vh;
  width: 100vw;
  left: 0;
  bottom: 0;
  position: fixed;
  pointer-events: none;
  -webkit-mask-image: linear-gradient(0deg, #fff 0%, rgba(217, 217, 217, 0.00) 40%);
  mix-blend-mode: multiply;

  z-index: -2;

}


 .gradient-background {
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  opacity: 32%;
   background: linear-gradient(90deg, #995c4ab8, #8e994d85, #397c94bc, #439382c4);
     animation: gradient 10s ease infinite; 
      background-size: 400% 400%;
      mix-blend-mode: multiply;
}
@-webkit-keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}